{% extends "index.html" %}
{% block content %}
    <h2>ABOUT</h2>
    <div class="container-green">
        <div class="content about1">
            <h3>Grown in Langley, BC</h3>
            <p>
                Founded in 2018 and proudly based in Langley, BC, Echo Landscaping is a
                family-owned and operated business that has worked with hundreds of clients to create 
                beautiful outdoor spaces tailored to their needs and style.
            </p>
        </div> 
        <div class="image about-img1"></div>
    </div>
    <div class="container-white">
        <div class="image about-img2"></div>
        <div class="content about2">
            <h3>Experienced and Creative Landscape Designers</h3>
            <p>
                Our landscaping experts are dedicated to helping transform the exterior of your 
                home into an elegant outdoor living space. We create beautiful yard designs by 
                combining seasonal color, perennials, landscaping, and maintenance, with a commitment 
                to quality and a focus on practical and attractive design. Your vision is important to us: 
                we’ll work with you closely to find your personalized landscaping solution.
            </p>
        </div> 
    </div>
    <div class="container-green">
        <div class="content about3">
            <h3>We Care About the Details</h3>
            <p>
                Echo Landscaping pays special attention to the details of every project to deliver lasting 
                beauty and complete client satisfaction. Every element of your garden will be chosen with 
                care to suit your artistic and functional requirements.
            </p>
        </div> 
        <div class="image about-img3"></div>
    </div>

{% endblock %}
