body {
    background-color: #e1e1e3
}

h1, h2, h3, h4, h5, h6, p, a, li, label, input, textarea {
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

h1 {
    color:green;
    text-align: center;
    font-weight: 700;
}

h2 {
    text-align: center;
    font-weight: 700;
}

h3, h4, h5, h6 {
    font-weight: 550;
}

p, li, label {
    font-weight: 400;
}

.navbar ul {
    background-color: #8EBE25;
    list-style-type: none;
    overflow: hidden;
}

.navbar a {
    text-decoration: none;
    color: white;
    padding: 20px;
    display: block;
    text-transform: uppercase;
}

.navbar li {
    float: left;
}

.navbar a:hover {
    background-color: #546C18
}

.homepage {
    text-align: center;
    animation: fade 1.5s ease-in;
}

.page {
    animation: fade 1.5s ease-in;
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.banner {
    height: 300px;
    background-image: url("homepage_banner.jpg");
    background-size: cover;
    background-position: center;
}

.banner-content {
    border: 3px solid white;
    background-color: #dedfe0da;
    width: 800px;
    position: relative;
    top: 90px;
    margin: auto;
}

.banner-content h2 {
    color: #1c3618;
}

.banner-content h3 a {
    color: #1c3618;
}

.service div {
    display: inline-block;
    width: 350px;
    height: 200px;
    background-color:#8EBE25;
    border: 3px solid #1c3618;
    margin: 5px 25px;
    background-size: cover;
}

#service-box-1 {
    background-image: url("homepage_maintenance.jpg");
}

#service-box-2 {
    background-image: url("homepage_installation.jpg");
}

.testimonial {
    margin-top: 50px;
    padding-top: 20px;
    height: 350px;
    background-color: #b1ccb8;
}

.container-white, .container-green {
    display: table;
    width: 100%;
}

.container-white {
    background-color: #FFFFFF;
}

.container-green {
    background-color: #b1ccb8;
}

.content {
    display: table-cell;
    vertical-align: top;
    padding: 50px;
}

.image {
    display: table-cell;
    vertical-align: top;
    background-size: cover;
    background-position: center;
}

.maintenance {
    height: 600px;
    width: 60%;
}

.maintenance-img {
    height: 600px;
    width: 40%;
    background-image: url("homepage_maintenance.jpg");
}

.design-installation {
    height: 500px;
    width: 50%;
}

.installation-img {
    height: 500px;
    width: 50%;
    background-image: url("homepage_installation.jpg");
}

.about1 {
    height: 300px;
    width: 40%;
}

.about-img1 {
    height: 300px;
    width: 60%;
    background-image: url("about_1.jpg");
}

.about2 {
    height: 300px; 
    width: 60%;
}

.about-img2 {
    height: 300px;
    width: 40%;
    background-image: url("about_2.jpg");
}

.about3 {
    height: 250px;
    width: 40%;
}

.about-img3 {
    height: 250px;
    width: 60%;
    background-image: url("about_3.jpg");
}

.slideshow {
    height: 550px;
    max-width: 1000px;
    position: relative;
    margin: 50px auto 25px auto;
    overflow: hidden;
}

.slideshow img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.slides {
    display: none;
    animation: gallery-fade 0.8s ease-in-out;
}

@keyframes gallery-fade {
    from {
        opacity: 0.3;
    }
    to {
        opacity: 1;
    }
}

.dots {
    text-align: center;
}

.dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 1.5px solid black;
    border-radius: 50%;
    margin: 25px 4px;
    background-color: #000;
    cursor: pointer;
}

.prev, .next {
    cursor: pointer;
    position: absolute; 
    top: 50%;
    width: auto;
    padding: 16px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 18px;
    border-radius: 0px 3px 3px 0px;
    background-color: rgba(0,0,0,0.65);
    
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,1);
}

.next {
    right: 0;
}

.contact {
    text-align: center;
}

.contact-form {
    text-align: center;
    justify-items: center;
}

.footer {
    height: 300px;
    text-align: center;
    animation: fade 1.5s ease-in;
}

footer .contact-form {
    padding: 50px;
}

form {
    width: 90%;
    max-width: 700px;
    margin: 30px;
}

.input {
    position: relative;
    margin-bottom: 40px;
}

input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #000;
    font-size: 13px;
}

label {
    position: absolute;
    height: 100%;
    top: -30px;
    left: 0px;
}

input[type="submit"] {
    padding: 12px;
    background-color: #8EBE25;
    border: 1px solid #000;
    cursor: pointer;
    width: 35%;
    font-size: 15px;
}

